* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Markazi Text", serif;
  margin: 2rem 5%;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* HEADER */
header {
  text-align: center;
}

.header-logo {
  width: clamp(17.5rem, -1.6176rem + 76.4706vw, 50rem);
  margin-bottom: 1rem;
}

/* NAV */
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #495e57;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.nav-list a {
  color: aliceblue;
}

a:hover,
.info > article > a:hover {
  color: #f4ce14;
}
/* BANNER */
.banner {
  background-image: url("../pizza.png"),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.7rem;
  color: aliceblue;
  padding: 32px 16px;
  margin-bottom: 1rem;
}

.banner > h1 {
  margin-bottom: 0.8rem;
}

.btn-order {
  background-color: #f4ce14;
  color: #495e57;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transform: scale(1);
  animation: pulse 2s 10;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
  }

  50% {
    transform: scale(1);
    /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
  }

  100% {
    transform: scale(1.1);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
  }
}

/* INFO */
.info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between;
}

.info > article {
  width: clamp(16.25rem, 14.375rem + 7.5vw, 20rem);
  border: 1px solid #e9e9e9;
  border-radius: 0.7rem;
  padding-bottom: 0.7rem;
}

@media only screen and (max-width: 640px) {
  .info > article {
    width: 100%;
  }
}

.info > article > img {
  width: 100%;
  border-radius: 0.7rem 0.7rem 0 0;
}

.info > article > h2,
.info > article > p,
.info > article > a {
  margin: 0 0.5rem 0.7rem 1rem;
  color: #495e57;
}

/* FOOTER */
footer {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

footer img {
  width: 5rem;
}

footer .copy-right {
  width: 50%;
  border-top: 1px solid #495e57;
  text-align: right;
  color: #495e57;
}
